<body style="margin: 0; padding:0">
    <div style="background-image: linear-gradient(to bottom, #D85A17, #AA460F); padding: 2em; min-height: 100vh; box-sizing: border-box;">
        <div style="max-width: 500px; margin: auto; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,.4); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            <div style="background: white; border-radius: 10px 10px 0 0;  padding: 2em 2em 1em 2em;">
                {{MAIL_BODY}}
            </div>
            <div style="padding: 1em 2em 2em 2em; background: #333; color: white; border-radius: 0 0 10px 10px; ">
                <p style="margin: 0; font-size: 0.8em">Podés acceder a la plataforma de votaciones, entrando en <a href='{{DOMINIO}}/login' target="_blank" style="color: yellow">{{DOMINIO}}/login</a></p>
            </div>
        </div>
    </div>
</body>