<h1 style="text-align: center; margin: 0">Recuperar Passs</h1>
<div style="text-align: center; margin: 1.5em">
    <img src="{{DOMINIO}}/assets/images/CastorConTraje.png" height="50" />
</div>
<p style="line-height: 1.6em; margin: 0">
    Estás recibiendo este correo, porque solicitaste recuperar tu clave de los CastorAwards.<br />
    Tu clave nueva es: <code>{{CLAVE}}</code><br />
    <b>IMPORTANTE, WACHO, LEEME:</b> Para hacer efectivo el cambio de contraseña, primero tenés que hacer click en <a href='{{DOMINIO}}/auth/confirm?u={{USUARIO}}&t={{TOKEN}}'>ESTE ENLACE</a> sino la contraseña nunca será cambiada.<br />
    O copiar todo este choclo en la URL <code  style='background: #ededed; padding: 4px 3px'>{{DOMINIO}}/auth/confirm?u={{USUARIO}}&t={{TOKEN}}</code>
</p>
