<h1 style="text-align: center; margin: 0">Bienvenidx a los CastorAwards!</h1>
<div style="text-align: center; margin: 1.5em">
    <img src="{{DOMINIO}}/assets/images/CastorConTraje.png" height="50" />
</div>
<p style="line-height: 1.6em; margin: 0">
    Estás recibiendo este correo, porque te diste de alta en los premios CastorAwards.<br />
    Para poder realizar nominaciones o participar en las votaciones, tenés que entrar con tu usuario <code  style='background: #ededed; padding: 4px 3px'>{{USUARIO}}</code> y tu clave temporal de acceso (que la podés cambiar después en tu perfil de usuario) es <code style='background: #ededed; padding: 4px 3px'>{{CLAVE}}</code>
</p>
